#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #E64A19;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #f4eeea;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:270px;
	float:none;
	display:list-item;
	position: relative;
}

.list-unstyled li:first-child {
    
}

.list-unstyled.two {
	margin-top: -12px;
}


.list-unstyled li p {
	font-size: 13px;
	color: #727272;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 0px;
	margin-bottom: 18px;
}

.list-unstyled li i { color:#999; margin-right: 4px; font-size: 11px; transition: all 0.3s ease;}

.list-unstyled li { padding: 5px 0;}
.list-unstyled a {
    color: #999;
    padding: 4px 0px;
    width: 100%;
	font-size:13px;
	transition-property: margin-left, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	transition: all 0.3s ease;
}
.list-unstyled a:hover {
    color: #393939;
}
.list-unstyled a:hover i {
    color: #393939;
}

.list-unstyled a:before {
    font-size: 12px;
    margin-right: 5px;
}

.row-border + .row .caption h3 {
    margin-top: 0px;
}

.row-border {border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
