

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    }

nav>ul>li {
    display:inline-block;
    background-color: #f4eeea;
    }

nav a {
    display:block;
    padding:0 10px;
    color:#622b0d;
    font-size:18px;
    line-height: 40px;
    text-decoration:none;
    background-color: #f4eeea;
}

.footer nav a {
    display:block;
    padding:0 10px;
    color:white;
    font-size:15px;
    line-height: 20px;
    text-decoration:none;
    background-color: #afafaf;

}

nav a:hover {
    color:#FFFFFF;
    background-color: #622b0d;
}

.footer nav a:hover {
    color:#FFFFFF;
    background-color: #696969;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display:inherit;
}

nav ul ul li {
    width:270px;
    float:none;
    display:list-item;
    position: relative;
}

.dropdown-menu>li>a {
	font-size:16px;
	color:#622b0d;
    border-bottom: 1px solid #622b0d;
	transition: all 0.3s ease;
}
.dropdown-menu>li>a:hover {
    font-size:13px;
    border-bottom: 1px solid #622b0d;
    color:#FFFFFF;
}
