*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: raleway, arial, sans-serif;
	width: 100%;
	margin: 0 auto;
	background-color: #f4eeea;
	display: grid;
	grid-template-columns: 12% auto 400px 12%;
	grid-template-rows: auto auto 950px auto auto auto;
	grid-template-areas: "BarSuperior     BarSuperior     BarSuperior     BarSuperior"
						 "BarPrincipal BarPrincipal BarPrincipal BarPrincipal"
						 "Principal        Principal        Principal        Principal"
						 ".           Noticias  vestimes    ."
						 ".           reviews        vestimes    ."
						 "footer footer footer footer";
}

a{
	text-decoration: none;
}

.button{
	display: inline-block;
	color: white;
	text-shadow: 1px 1px black;
	font-size: 26px;
	border-radius: 4px;
	font-family: Oswald, arial, sans-serif;
	padding: 3px 35px;
}

.BarSuperior{
	grid-area: BarSuperior;
	background-color: #622b0d;
	color: white;
	height: auto;
	padding: 4px 12%;
}

.BarSuperior a{
	float: right;
	color: white;
}

.BarSuperior .social-link{
	margin-right: 7px;
}

.BarSuperior .contact-link{
	margin-right: 26px;
}

.BarPrincipal{
	grid-area: BarPrincipal;
	padding: 12px 12%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.logo{
	color: #622b0d;
	font-size: 16px;
}

.logo span:nth-child(1){
	float: left;
	margin-left: -20px;
	margin-bottom: -10px;
}

.logo span:nth-child(2){
	clear: both;
	display: block;
	font-family: 'lobster two', serif;
	font-size: 34px;
}

.logo span:nth-child(3){
	float: left;
	margin-left: 143px;
	margin-top: -7px;
}

.Barras ul, .footer-nav ul{
	list-style-type: none;
}


.Barras ul li a{
	font-size: 18px;
	color: #c8825b;
	margin: 0 10px;
}

.Principal{
	grid-area: Principal;
	width: 100% auto;
	padding: 55px 12% 0 12% ;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: ".       .  award"
						 "message .  .    "
						 ".       .  .    ";
}

.message{
	grid-area: message;
	width: 380px;
	height: 380px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .5);
	padding-top: 110px;
	text-align: center;
}

.message p{
	color: white;
	text-shadow: 2px 2px black;
	line-height: 1;
}

.message span:first-child{
	font-size: 42px;
}

.message span:last-child{
	font-size: 67px;
}

.message-button{
	background-color: #c8825b;
	margin-top: 25px;
}

.award{
	grid-area: award;
	text-align: center;
	color: white;
}

.award blockquote{
	font-size: 28px;
}

.award cite{
	display: block;
	text-align: right;
	font-style: italic;
	font-size: 18px;
}

.Noticias{
	grid-area: Noticias;
	margin-right: 90px;
}

.reviews{
	grid-area: reviews;
	margin-right: 90px;
}

.Noticias h2, .reviews h2{
	font-size: 41px;
	color: #622b0d;
	font-weight: normal;
	padding: 65px 0 25px 0;
}

.reviews h2{
	padding-top: 15px;
}

.Noticias h3, .reviews h3{
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 10px;
}

.Noticias ul, .reviews ul{
	margin-left: 40px;
}

.Noticias li, .reviews li{
	margin-bottom: 50px;
}

.fechaPubli{
	color: #632b0d;
	font-size: 16px;
	padding-left: 5px;
}

.Contenido{
	font-size: 16px;
	margin-left: 20px;
}

.mas-info{
	color: #c8825b;
	font-size: 16px;
	float: right;
}

.vestimes{
	grid-area: vestimes;
	background-color: #c8825b;
	padding: 45px 25px 0 25px;
	margin: 20px 0;
	color: white;
}

.vestimes h2{
	font-size: 41px;
	font-weight: normal;
	text-align: center;
	line-height: 1;
}

.modelo-pic{
	margin: 30px 0 20px 0;
	width: 100%;
}

.modelo-info{
	list-style-type: none;
	font-size: 21px;
}

.topMes{
	font-size: 26px;
	text-align: center;
	margin-top: 50px;
}

.vestimes-button{
	background-color: #632b0d;
	margin-top: 15px;
}

.footer{
	grid-area: footer;
	background-color: #afafaf;
	padding: 25px 12%;
	color: white;
}

.footer-nav{
	float: left;
}

.footer-nav a{
	display: inline-block;
	font-size: 20px;
	color: white;
	padding: 0 12px;
	border-right: solid 1px white;
}

.footer-nav li:last-child a{
	border: none;
}

.copyright{
	float: right;
	font-size: 16px;
}

@media (max-width: 1600px) {
	body{
		grid-template-columns: 2% auto 400px 2%;
	}
	.BarSuperior{
		padding: 4px 2%;
	}
	.BarPrincipal{
		padding: 12px 2%;
	}
	.Principal{
		padding: 55px 2% 0 2%;
	}
	.footer{
		padding: 25px 2%;
	}
}

@media (max-width: 1050px ) {
	.BarPrincipal{
		flex-direction: column;
		align-items: center;
	}
	.Barras{
		margin-top: 10px;
	}
	.Principal{
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas: "message"
							 "award";
		justify-content: center;
		padding: 55px 2%;
	}
	.message{
		background: none;
		height: auto;
		width: auto;
		padding-top: 25px;
	}
	.award{
		padding-top: 20px;
	}
	.vestimes{
		padding-bottom: 15px;
	}
	.reviews, .Noticias{
		margin-right: 0;
	}
	.reviews h2, .Noticias h2{
		font-size: 32px;
	}
	.reviews ul, .Noticias ul{
		margin-left: 25px;
	}
	.Contenido{
		margin-left: 0;
	}
	body{
		grid-template-columns: 3% auto 3%;
		grid-template-rows: auto auto auto auto auto auto auto;
		grid-template-areas: "BarSuperior     BarSuperior     BarSuperior"
							 "BarPrincipal BarPrincipal BarPrincipal"
							 "Principal        Principal        Principal"
							 ".           Noticias  ."
							 ".           reviews        ."
							 ".           vestimes    ."
							 "footer footer footer";
	}
}
